.row {
  color: white;
  margin-left: 20px;
}
.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
}
.row-posters::-webkit-scrollbar {
  display: none;
}
.row-single-poster {
  width: 100%;
  margin-right: 1rem;
  transition: transform 450ms;
  border-radius: 10px;
}
.row-single-poster:hover {
  transform: scale(1.08);
}
.row-posterLarge:hover {
  transform: scale(1.1);
}
.row-single-poster:hover {
  transform: scale(1.08);
}
.row-posterLarge:hover {
  transform: scale(1.1);
}
@media (min-width: 320px) {
  .row {
    font-size: 0.7rem;
  }
  .row-single-poster {
    max-height: 75px;
  }
  .row-posterLarge {
    max-height: 200px;
  }
}

@media (min-width: 760px) {
  .row-single-poster {
    max-height: 130px;
  }
  .row-posterLarge {
    max-height: 280px;
  }
}
