.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-right: 1.2rem;
}
.input-email {
  height: 3.4rem;
  width: 23rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 10px;
}
.input-start-button {
  height: 3.4rem;
  width: 12.5rem;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
