.landing-page-banner {
  height: 115vh;
}
.landing-page-contents {
  margin-left: 30px;
  padding-top: 50px;
  height: 140px;
  color: white;
  display: grid;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 6.5rem;
}
.landing-page-title {
  font-size: 3rem;
  font-weight: 900;
}
.landing-page-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 2.5rem;
}
.landing-page-description {
  font-size: 1.25rem;
  font-weight: 500;
  /* background-size: ; */
}
.fade {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.8) 90%
  );
}
.button-icon {
  position: relative;
  right: 2.8rem;
  font-size: 1.4rem;
}
.multi-slide-parent-container {
  display: flex;
  flex-direction: column;
  border-top: 8px solid rgb(41, 40, 40);
  gap: 8px;
  background-color: rgb(41, 40, 40);
}
