.landing-page-nav {
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.landing-page-nav-sublist {
  width: 100%;
  display: flex;
  justify-content: end;
}
.nav-button {
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 320px) {
  .landing-page-nav {
    padding-left: 0.5rem;
    gap: 2rem;
  }
  .landing-page-nav-logo {
    width: 6rem;
    height: 2.5rem;
  }
  .landing-page-nav-list-two {
    display: flex;
  }
  .nav-button {
    position: relative;
    right: 1rem;
    height: 1.6rem;
    width: 4rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 760px) {
  .landing-page-nav {
    position: absolute;
    padding: 0 5vw;
  }
  .landing-page-nav-logo {
    width: 12rem;
    height: 5.5rem;
  }
  .nav-button {
    height: 2rem;
    width: 5rem;
    font-size: 0.9rem;
  }
}
