.landing-page-icon {
  position: relative;
  left: 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}
.landing-page-nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
}
.landing-page-icon-two {
  position: relative;
  color: white;
  right: 2rem;
  font-size: 1.4rem;
  font-weight: bolder;
}
.nav-options {
  background-color: #111;
  border: none;
  font-weight: 500;
  appearance: none;
  border: 1px solid gray;
  border-radius: 5px;
}
@media (min-width: 320px) {
  .landing-page-nav-list {
    justify-content: end;
  }
  .nav-options {
    height: 1.6rem;
    width: 4rem;
  }
}

@media (min-width: 750px) {
  .landing-page-nav-list {
    gap: 0.4rem;
  }
  .nav-options {
    height: 2rem;
    width: 7rem;
    padding-left: 2.5rem;
    color: white;
    width: 8rem;
    font-size: 0.9rem;
  }
}
