.direction-parent {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-color: black;
}

@media (min-width: 320px) {
  .direction-parent {
    flex-direction: column;
  }
  .slide-image-direction {
    height: 65vw;
    height: 65vw;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 760px) {
  .direction-parent {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5rem;
  }
  .slide-image-direction {
    height: 35vw;
    height: 35vw;
  }
}
